<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles.css"/>

</head>
<body>

<form class="navigation" action="/login">
    <input type="submit" value="Go to Another Fox">
</form>
<form class="navigation" action="/addOptions">
    <input type="submit" value="Add Options">
</form>

<div class="content">
<img src="/greenfox.png" alt="Green Fox">
<p th:text="'This is Mr.'+${fox.getName()} + '. Currently living on ' + ${fox.getMeal()}+ ' and ' + ${fox.getDrink()}+'. He knows ' + ${fox.getTricks().size()}+' tricks.'"/>
<h2>Known tricks</h2>
<ul th:each="trick:${fox.getTricks()}">
    <li th:text="${trick}">
</ul>

<form method="post">
    <label for="endpoint"> Options </label>
    <select id="endpoint" name="endpoint">
        <option>ChangeNutrition</option>
        <option>TrickCenter</option>
        <option>ShowChanges</option>

    </select>
    <input type="submit" value="GO">
</form>
</div>

</body>


</html>