body {
    background-image: radial-gradient(beige, white);
    background-repeat: no-repeat;
}

main {
    margin: 0 10%;
    font-family: 'Roboto', sans-serif;
}

.header {
    opacity: 0.8;
    color: whitesmoke;
    text-align: center;
    background-color: black;
    margin: 0;
    height: 60px;
    border-radius: 15px;

}

.posts {
    margin-top: 30px;
}

.post-adder {
    padding-bottom: 30px;
    border-bottom: dashed;
}


h1 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

h1,
h3 {
    margin: 0;
    padding: 0;
}


h3 {
    font-size: 15px;
}

.section-header {
    font-size: 20px;
    margin: 5px 0px 15px;
    color: brown;
    font-weight: bolder;

}

.box-it {
    border: solid black 1.5px;
    margin: 0px 0px 10px;
    padding: 3px;
    background-color: azure;

}

.posts .box-it:hover {

    background-color: aquamarine;
    transition-duration: 1s;
}

#title {
    padding-right: 30px;
    min-width: 150px;
    font-weight: bolder;


}

#post {
    min-height: 5em;
}

.posts .box-it p {
    padding: 0px 6px;
}

span {
    display: inline-block;
}

#button {
    padding: 0 20px;
    background-color: lightgrey;
    border-radius: 5px;
    font-size: 20px;
    color: black;

}

