body {
    background: deepskyblue;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}

th, td {
    width: 400px;
    height: 60px;
    text-align: left;
    padding: 10px;
    font-size: 25px;
}

th {
    background: black;
    color: whitesmoke;
}

tr:nth-child(even) {
    background-color: darkgrey;
}

tr:nth-child(odd) {
    background-color: whitesmoke;
}