<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/styles.css"/>
</head>
<body>
<div th:insert="fragments.html :: header">...</div>
<div class="container">
    <table class="table">
        <tr th:each="post:${userPosts}">
            <td>
                <p class="votes text-center" th:text="${post.votes}+' votes'"></p>
            </td>
            <td class="col align-middle">
                <a th:href="${post.url}" th:text="${post.title}"></a>
            </td>
            <td class="col align-middle" th:text="${post.date}"></td>
        </tr>
    </table>
</div>
</body>
</html>