<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/styles.css"/>
</head>
<body>
<div th:fragment="header">
    <ul class="nav justify-content-center header-panel">

        <ul th:if="${loggedUser}=='none'" class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/registration">Register</a>
            </li>
        </ul>

        <li class="nav-item">
            <a class="nav-link" href="/posts">Posts</a>
        </li>
        <ul th:if="${loggedUser}!='none'" class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="/posts/addPost">Submit Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/accountInfo">My Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </ul>
    <p th:if="${loggedUser}!='none'" th:text="'Logged in as: ' + ${loggedUser}"></p>
</div>
</body>
</html>

<ul class="nav nav-tabs card-header-tabs header-nav">
    <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
</ul>