<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/styles.css"/>
</head>
<body>
<div class="header" th:insert="newHeader.html :: header">...</div>
<div class="container">

    <div class="card text-center">
        <div class="card-body row">
            <div class="col">

                <div class="post-header">
                    <small class="card-text" th:text="'Added ' + ${post.date} + '. By: '"></small>
                    <span class="card-text" th:text="${post.user.userName}"></span>
                </div>
                <h5 class="card-title" th:text="${post.title}" th:href="'/posts/getPost/'+${post.getPostID()}">
                </h5>
                <p class="card-text" th:text="${post.url}"></p>
                <form th:if="${post.user.getUserName()==loggedUser}" action="/posts/edit">
                    <input type="hidden" name="postID" th:value="${post.getPostID()}">
                    <input class="btn btn-primary" type="submit" value="edit">
                </form>
            </div>
        </div>
    </div>

        <h2>Comments</h2>
    <div th:each="comment:${comments}" class="card text-center">
        <div class="card-body row">
            <div class="col">
                <div class="post-header">
                    <small class="card-text" th:text="'Added ' + ${post.date} + '. By: '"></small>
                    <span class="card-text" th:text="${post.user.userName}"></span>
                </div>
                <p class="card-text" th:text="${comment.content}"></p>
                <form th:if="${comment.user.getUserName()==loggedUser}" action="/posts/edit">
                    <input type="hidden" name="postID" th:value="${post.getPostID()}">
                    <input class="btn btn-primary" type="submit" value="edit">
                </form>
            </div>
        </div>
    </div>
    <form method="post" th:action="${post.getPostID()}+'/createComment'" th:object="${comment}">
        <div class="form-group">
            <label for="exampleFormControlTextarea1">New Comment</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" th:field="*{content}"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
</body>
</html>
