body {
    background-color: slategray;
    padding: 0% 5%;
    align-content: center;
}

.content {
    background-color: white;
    padding: 5%;
}

.info {
    padding-top: 10px;
    border-top: 3px solid black;
}

input {
    min-width: 150px;
    margin: 5px 0;
}

select {
    min-height: 30px;
}

.navigation {
    display: inline-block;
}