<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles.css"/>

</head>
<body>
<form action="/addOptions/meal">
    <input name="optionName" type="text" placeholder="Meal name" required>
    <input type="submit" value="Add new meal option">
</form>
<form action="/addOptions/drink">
    <input name="optionName" type="text" placeholder="Drink name" required>
    <input type="submit" value="Add new drink option">
</form>
<form action="/addOptions/trick">
    <input name="optionName" type="text" placeholder="Trick name" required>
    <input type="submit" value="Add new trick option">
</form>

<form action="/login">
    <input type="submit" value="Go back to login">
</form>

</body>
</html>