<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <p th:if="${error!=null}" th:text="${error}" style="color: red"></p>
    <p th:if="${alias!=null}" th:text="'Your URL is aliased to '+ ${alias} +' and your secret code is '+${secretCode}"></p>
    <form method="post" action="/save-link">
        <label for="url">URL</label><br>
        <input type="text" id="url" name="url"><br>
        <label for="alias">Alias</label><br>
        <input type="text" id="alias" name="alias"><br>
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>