<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/styles.css"/>
</head>
</head>
<body>
<div class="container">
    <div style="text-align: center">

        <h1>Todo Application</h1>

    </div>
    <form method="get" action="/todo/search">
        <input type="text" name="search">
        <input type="submit" value="Search">
    </form>

    <table class="table table-borderless table-hover">
        <tr>
            <th class="idColumn">ID</th>
            <th class="col">Action</th>
            <th class="doneAndUrgent">Done</th>
            <th class="doneAndUrgent">Urgent</th>
        </tr>

        <tr class="border" th:each="todo: ${todos}" th:class="${todo.isDone()} ? 'table-success' : 'table-warning'">
            <form th:if="${todo.getId()==id}" method="post" th:object="${toDo}" th:action="@{'/todo/edit'}">
                <input type="hidden" th:field="*{id}">
                <th th:text="${todo.getId()}"></th>
                <td>
                    <input type="text" th:field="*{title}" required> <br>
                </td>
                <td style="text-align: center">
                    <input type="checkbox" th:field="*{done}"><br>
                </td>
                <td style="text-align: center">
                    <input type="checkbox" th:field="*{urgent}"><br>
                </td>
                <td style="text-align: center"><a class="btn btn-danger"
                                                  th:href="@{'/todo/'+ ${todo.getId()} + '/delete'}">Delete</a></td>

                <td>
                    <input type="submit">
                </td>
            </form>

            <div th:unless="${todo.getId()==id}">
                <th th:text="${todo.getId()}"></th>
                <td th:text="${todo.getTitle()}"></td>
                <td style="text-align: center"><img
                        th:src="${todo.isDone()} ? 'https://img.icons8.com/flat_round/30/000000/checkmark.png' : 'https://img.icons8.com/flat_round/30/000000/delete-sign.png'">
                </td>
                <td style="text-align: center"><img
                        th:src="${todo.isUrgent()} ? 'https://img.icons8.com/color/30/000000/high-priority.png' : 'https://img.icons8.com/office/30/000000/medium-priority.png'">
                </td>
                <td><a class="btn btn-danger" th:href="@{'/todo/'+ ${todo.getId()} + '/delete'}">Delete</a></td>
                <td><a class="btn btn-info" th:href="@{${todo.assignee.getAssigneeID()}+'/todo/'+ ${todo.getId()} + '/edit'}">Edit</a></td>
            </div>
        </tr>
    </table>
    <form class="border" th:action="@{'addNew'}" method="post" th:object="${newToDo}">
        <legend>Add new Task</legend>
        <div class="form-group">
            <label for="action">Action</label>
            <input class="form-control" id="action" type="text" th:field="*{title}" required>
        </div>
            <div class="form-group form-check">
                <input class="form-check-input" type="checkbox" th:field="*{urgent}" ID="urgent">
                <label class="form-check-label" for="urgent">Urgent</label>
            </div>
            <div class="form-group">
                <input class="btn btn-warning" type="submit" value="Add New ToDo">
            </div>
    </form>
    <br>
    <form method="get" action="/assignee/list">
        <input type="submit" value="List of Assignees">
    </form>
</div>
</body>
</html>