<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles.css"/>
</head>
<body>
<h1>Todos for today</h1>
<table>
    <form action="/todo/addNew">
        <input type="submit" value="Add New ToDo">
    </form>
    <tr>
        <th>ID</th>
        <th>ACTION</th>
        <th>DONE</th>
        <th>URGENT</th>
    </tr>
    <tr th:each="todo: ${todos}">
        <td th:text="${todo.getId()}"></td>
        <td th:text="${todo.getTitle()}"></td>
        <td th:text="${todo.isDone()}"></td>
        <td th:text="${todo.isUrgent()}"></td>
        <td><a th:href="@{'/todo/'+ ${todo.getId()} + '/delete'}">Delete</a></td>
        <td><a th:href="@{'/todo/'+ ${todo.getId()} + '/edit'}">Edit</a></td>
    </tr>
</table>
</body>
</html>